$app-bg: #1A120B;
$text-cl: #E5E5CB;

$btn-bg: #205295;
$btn-border-hover: $btn-bg;
$btn-bg-hover: $app-bg; 
$btn-text: #fff;

$input-focus-outline: #205295;
$input-focus-bg: #453C67;

$th-bg: #2C74B3;
$th-color: #fff;

$table-td-cl: #00bfff;
$overlay: #6a67678c;